@namespace BugTracker
@using BugTracker.Extensions
@using BugTracker.Models.Enums
@using BugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@inject UserManager<BTUser> _userManager
@inject IFileService _fileService

@{
    BTUser? user = await _userManager.GetUserAsync(User);
}

<!-- Page Sidebar Start-->
<header class="main-nav">
    <div class="sidebar-user">
        <a asp-area="Identity" asp-page="/Account/Manage/Index">
            <div class="text-center">
                <img class="img-90 rounded-circle" src="@(_fileService.ConvertByteArrayToFile(user.ImageFileData, user.ImageFileType!,(int)DefaultImage.BTUserImage))" alt="User Image">
                <h6 class="mt-2 f-14 f-w-600">@(user.FullName ?? "")</h6>
            </div>
        </a>
        <p class="mb-0 font-roboto">
            @{
                if (User.Identity.IsAuthenticated)
                {
                    if (await _userManager.IsInRoleAsync(await _userManager.GetUserAsync(User), nameof(BTRoles.Admin)))
                    {
                        nameof(BTRoles.Admin).ToString();
                    }
                    else if (await _userManager.IsInRoleAsync(await _userManager.GetUserAsync(User), nameof(BTRoles.ProjectManager)))
                    {
                        nameof(BTRoles.ProjectManager).ToString();
                    }
                    else if (await _userManager.IsInRoleAsync(await _userManager.GetUserAsync(User), nameof(BTRoles.DemoUser)))
                    {
                        nameof(BTRoles.DemoUser).ToString();
                    }
                    else if (await _userManager.IsInRoleAsync(await _userManager.GetUserAsync(User), nameof(BTRoles.Developer)))
                    {
                        nameof(BTRoles.Developer).ToString();
                    }
                    else if (await _userManager.IsInRoleAsync(await _userManager.GetUserAsync(User), nameof(BTRoles.Submitter)))
                    {
                        nameof(BTRoles.Submitter).ToString();
                    }
                }
                else
                {
                    string unauthorized = "You are not logged in!";
                    @unauthorized
                    ;
                }
            }
        </p>
        @*<ul>
        <li>
        <span><span class="counter">19.8</span>k</span>
        <p>Follow</p>
        </li>
        <li>
        <span>2 year</span>
        <p>Experince</p>
        </li>
        <li>
        <span><span class="counter">95.2</span>k</span>
        <p>Follower </p>
        </li>
        </ul>*@
    </div>
    <nav>
        <div class="main-navbar">
            <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
            <div id="mainnav">
                <ul class="nav-menu custom-scrollbar">
                    <li class="back-btn">
                        <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                    </li>
                    @* home/company menu title highlight is sticking on selection - check for javascript hooks *@
                    <li>
                        <a asp-controller="Home" asp-action="Index" class="nav-link menu-title link-nav"><i data-feather="box"></i><span>Home</span></a>
                    </li>
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a class="nav-link menu-title"><i data-feather="box"></i><span>Company</span></a>
                                <ul class="nav-submenu menu-content" href="javascript:void(0)">
                                    <li><a asp-controller="Companies" asp-action="Details" asp-route-id="@User.Identity.GetCompanyId()">Company Details</a></li>
                                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                    {
                                        <li><a asp-controller="Companies" asp-action="ManageUserRoles">Manage User Roles</a></li>
                                        <li><a asp-controller="Invites" asp-action="Create">Invite New Users</a></li>
                                    }
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link menu-title"><i data-feather="box"></i><span>Projects</span></a>
                                <ul class="nav-submenu menu-content" href="javascript:void(0)">
                                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                    {
                                        <li><a asp-controller="Projects" asp-action="Create">Create New project</a></li>
                                    }
                                    <li><a asp-controller="Projects" asp-action="Index">All Projects</a></li>
                                    <li><a asp-controller="Projects" asp-action="MyProjects">My Projects</a></li>
                                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                    {
                                        <li><a asp-controller="Projects" asp-action="Archive">Archived Projects</a></li>
                                    }
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="box"></i><span>Tickets</span></a>
                                <ul class="nav-submenu menu-content">
                                    <li><a class="dropdown-item" asp-controller="Tickets" asp-action="Create">Create New Ticket</a></li>
                                    <li><a class="dropdown-item" asp-controller="Tickets" asp-action="Index">All Tickets</a></li>
                                    <li><a class="dropdown-item" asp-controller="Tickets" asp-action="MyTickets">My Tickets</a></li>
                                    <li><a class="dropdown-item" asp-controller="Tickets" asp-action="Archive">Archived Tickets</a></li>
                                </ul>
                            </li>
                            <li><a asp-controller="Notifications" asp-action="Index" class="nav-link menu-title link-nav"><i data-feather="monitor"></i><span>Notifications</span></a></li>
                            @*<li class="dropdown"><a class="nav-link menu-title link-nav" href="kanban.html"><i data-feather="monitor"></i><span>kanban Board</span></a></li>*@

                            @*<li>
                    <a asp-controller="Notifications" asp-action="Index" class="nav-link menu-title link-nav"><i class="fs-5 bi-mailbox2"></i><span>Notifications</span></a>
                    </li>*@

                            @*<li class="dropdown">
                    <a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="mail"></i><span>Email</span></a>
                    <ul class="nav-submenu menu-content">
                    <li><a href="email_inbox.html">Mail Inbox</a></li>
                    <li><a href="email_read.html">Read mail</a></li>
                    <li><a href="email_compose.html">Compose</a></li>
                    </ul>
                    </li>*@
                            <li class="dropdown">
                                <a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="users"></i><span>Users</span></a>
                                <ul class="nav-submenu menu-content">
                                    <li><a href="user-profile.html">Users Profile</a></li>
                                    <li><a href="edit-profile.html">Users Edit</a></li>
                                    <li><a href="user-cards.html">Users Cards</a></li>
                                </ul>
                            </li>
                        }
                    }
                    @* <li class="dropdown"><a class="nav-link menu-title link-nav" href="contacts.html"><i data-feather="list"></i><span>Contacts</span></a></li>
                    <li class="dropdown"><a class="nav-link menu-title link-nav" href="calendar-basic.html"><i data-feather="calendar"></i><span>Calender</span></a></li>*@
                </ul>
            </div>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
        </div>
    </nav>
</header>
<!-- Page Sidebar Ends-->