{% extends "base.html" %} {% load static %} {% load sass_tags %} {% block content %}
<div class="page-body">
    {% include "layout/breadcrumb.html" %}
    <div class="container-fluid chart-widget">
        <div class="row">
            {% include "general/widgets/charts/sale.html" %}
            {% include "general/widgets/charts/project.html" %}
            {% include "general/widgets/charts/product.html" %}
            {% include "general/widgets/charts/marketing-express.html" %}
            {% include "general/widgets/charts/total-earning.html"%}
            {% include "general/widgets/charts/live-product.html" %}
            {% include "general/widgets/charts/turnover.html" %}
            {% include "general/widgets/charts/monthly-sale.html" %}
            {% include "general/widgets/charts/uses.html" %}
            {% include "general/widgets/charts/browser-uses.html"%}

        </div>
    </div>
</div>
{% endblock %} {% block scriptcontent %}
<script src="{% static 'assets/js/chart/apex-chart/moment.min.js' %}"></script>
<script src="{% static 'assets/js/chart/apex-chart/apex-chart.js' %}"></script>
<script src="{% static 'assets/js/chart/apex-chart/stock-prices.js' %}"></script>
<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/counter/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/counter/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/counter/counter-custom.js' %}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
<script src="{% static 'assets/js/chart-widget.js' %}"></script>
<script src="{% static 'assets/js/tooltip-init.js' %}"></script>

{% endblock %}