@model AssignDevViewModel
@using BugTracker.Extensions
@using BugTracker.Models.ViewModels
@using BugTracker.Services.Interfaces
@inject ITicketService _TicketService
@inject IProjectService _ProjectService


@{
    ViewData["Title"] = "Assign Developer";
    //int companyId = User.Identity!.GetCompanyId();
    //Project project = await _ProjectService.GetProjectByIdAsync(Model.Project!.Id, companyId);
    //Ticket ticket = await _TicketService.GetTicketByIdAsync(project.Id, companyId);
}

<div class="d-flex justify-content-center mt-5 flex-column align-items-center">
    <div class="card mt-5 rounded-3 box-shadow shadow-lg">
        <div class="card-header text-center">
            <h5 class="card-title">Assign a Developer<br />To Ticket: <br />@Model.Ticket.Title</h5>
        </div>
        <div class="card-body">
            <form asp-controller="Tickets" asp-action="AssignDev" method="post" class="d-flex flex-column">
                <input type="hidden" asp-for="@Model.Ticket.Id" />
                <select asp-items="Model.DevList" asp-for="DevId">
                    <option value="">Unassigned</option>
                </select>
                <button type="submit" class="btn btn-primary mt-5 mb-3">Assign</button>
                <a asp-controller="Tickets" asp-action="Details" asp-route-ticketId="@Model.Ticket.Id" class="btn btn-primary-light my-3">Ticket Details</a>
                <a asp-controller="Projects" asp-action="Details" asp-route-ticketId="@Model.Ticket.ProjectId" class="btn btn-primary-light my-3">Project Details</a>
                <a asp-controller="Tickets" asp-action="Index" class="btn btn-secondary my-3">Cancel</a>
            </form>
        </div>
    </div>
</div>