@model BugTracker.Models.Ticket
@using BugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@inject UserManager<BTUser> _UserManager

@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-center mt-5">
    <div class="card p-3 rounded-3 box-shadow shadow-lg col-8">
        <div class="card-body">
            <h4>Edit Ticket: @Model.Title</h4>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="ProjectId" />
                        <input type="hidden" asp-for="Created" />
                        <input type="hidden" asp-for="Archived" />
                        <input type="hidden" asp-for="ArchivedByProject" />
                        <input type="hidden" asp-for="SubmitterUserId" />
                        <div class="form-group">
                            <label asp-for="Project!.Name" class="control-label">Project Name:</label>
                            <input asp-for="Project!.Name" class="form-control" disabled />
                            <span asp-validation-for="Project!.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label">Ticket Name:</label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Ticket Description:</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TicketTypeId" class="control-label">Ticket Type:</label>
                            <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                            <span asp-validation-for="TicketTypeId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TicketStatusId" class="control-label">Ticket Status:</label>
                            <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
                            <span asp-validation-for="TicketStatusId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TicketPriorityId" class="control-label">Ticket Priority:</label>
                            <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                            <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SubmitterUserId" class="control-label">Ticket Submitter:</label>
                            <input asp-for="SubmitterUserId" class="form-control" value="@((_UserManager.FindByIdAsync(Model.SubmitterUserId).Result.FullName))" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="DeveloperUser" class="control-label">Assigned Developer:</label>
                            <select asp-for="DeveloperUserId" class="form-control" asp-items="ViewBag.DeveloperUser">
                                <option value="">Unassigned</option>
                            </select>
                            <span asp-validation-for="DeveloperUserId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary mt-3 col-3" />
                            <a asp-action="Index" class="btn btn-secondary mt-3 col-3">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
