{% load static %} {% load sass_tags %}
<div class="col-xl-9 col-md-12 box-col-8 xl-70">
    <div class="email-right-aside bookmark-tabcontent">
        <div class="card email-body radius-left">
            <div class="ps-0">
                <div class="tab-content">
                    {% include "applications/bookmark/components/bookmark-tab1.html" %}
                    {% include "applications/bookmark/components/bookmark-tab2.html" %}
                    {% include "applications/bookmark/components/bookmark-tab3.html" %}
                    {% include "applications/bookmark/components/bookmark-tab4.html" %}
                    {% include "applications/bookmark/components/bookmark-tab5.html" %}
                    {% include "applications/bookmark/components/bookmark-tab6.html" %}
                    {% include "applications/bookmark/components/bookmark-editModal.html" %}
                    {% include "applications/bookmark/components/bookmark-createModal.html" %}
                </div>
            </div>
        </div>
    </div>
</div>